/* .mark_container {
  position: fixed;
  top: 40px;
  width: 200px;
  background-color: #120587;
  border-radius: 0 0 0 0;
  z-index: 401;
  margin-bottom: 500px;
} */

.mark {
  margin-top: 0px;
  width: 100%;
  padding: 8px 0px;

  font-size: 15px;
  color: white;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mark.active {
  color: #ffffff;
  background: #000095;
}

.mark a {
  border-bottom: 0px solid #fbfbfb1e;
}

.home_sidemenu {
  padding-left: 0px;
  width: 80%;
  background-color: #000095;
}

.close_sidemenu {
  width: 20%;
  background-color: #000095;
 
}

.close_sidemenu a {
  font-size: 24px;
  
}

.hdn-cont {
  margin-top: 15px;
}

aside {
  top: 40px;
  bottom:25px;
  position: fixed;
  transition: right 0.4s ease;
  right: -185px;
  width: 200px;

  background-color: #120587;
  padding-top: 0px;
  /* padding-left: 30px; */
  /* padding-right: 20px; */
  padding-bottom: 50px;
  z-index: 100;
  
  max-height: 100%;
  overflow-y: auto;
  border-radius: 25px 0 0 25px;
}

aside.active {
  right: 0px;
  /* animation: topSideMenu ease-in-out 1s; */
}

/* 

@keyframes topSideMenu {
  0% {
      transform: translateX(30px);
      opacity: 0;
  }
   
  40% {
      transform: translateX(30px);
      opacity: 0;
  }
  70% {
      transform: translateX(0px);
      opacity: 0.5;
  }
   
  100% {
      transform: translateX(0px);
      opacity: 1;
  }
} */

aside.notactive {
  right: -185px;
}

aside ul li {
  line-height: 15px; 
}

aside ul li.active {
  color: #ffffff;
  background: #5f55b6;
}


aside ul li a {
  position: relative;
  display: block;

  text-decoration: none;
  padding: 25px 0px 25px 35px;
  font-size: 15px;
  font-weight: 500;

  color: #ffffff;
  border-bottom: 2px solid #fbfbfb1e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-left: 3px solid transparent; */
}

aside ul li a:hover {
  /* color: cyan !important; */
  letter-spacing: 0.08rem;
  transition:  letter-spacing 0.4s ease-in-out;
  color: rgb(0, 0, 0) !important;
  background: #2323ff !important;
}

aside ul li.active a:hover {
  /* color: cyan !important; */
  letter-spacing: 0.08rem;
  transition:  letter-spacing 0.4s ease-in-out;
  color: rgb(236, 236, 236) !important;
  background: #000095 !important;
}

aside ul ul {
  position: static;
  display: none;
}


aside ul ul li {
  line-height: 9px;
}

aside ul ul li a {
  font-size: 15px;
  color: #e6e6e6;
  background: #2b31ea;
  padding-left: 25px;
  text-align: left;
  border-bottom: 1px solid #1e1e1e;
}

aside ul ul li a:hover::after {
  content: "";
 color: #d9d9d9 !important;
  /* border-left: 5px solid #e6e6e6; */
  text-align: left;
  margin-right: 15px;
}


aside ul li a span {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 12px;
  transform: translateY(-50%);
  transition: transform 1s ease-in-out;
}

aside ul li a:hover span.rotate {
  transform: translateY(-25%) rotate(-540deg);
}

aside ul li a.active {
  color: cyan;
  background: #b5c508;
  /* border-left-color: cyan; */
}

aside ul li.active ul li a {
  color: #e6e6e6;
  background: #2b31ea;
  /* border-left-color: transparent; */
}

aside ul ul li a:hover {
  letter-spacing: 0.02rem;
  color: rgb(0, 0, 0) !important;
  background: #000095 !important;
}

aside ul li:last-child {
  border-bottom: none;
}


/* ochish-yopish expanding  */

.show_submenus {
  display: block;
  transition: all ease-in-out 4s;
}


/* close x button and backdrop */

aside button.close_sideMenuBar {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  /* float: left; */
  border: 0;
  background-color: transparent;
  position: relative;
  top: 0px;
  padding: 30px;
  font-family: sans-serif;
  font-weight: 100;
  padding-right: 10px;
  z-index: 199;
}

.close_sideMenuBar:hover {
  color: #2323ff;
}
 @media only screen and (min-width:800px)
	{
	
aside {
  top: 40px;
  bottom:25px;
  position: fixed;
  transition: right 0.4s ease;
  right: -185px;
  width: 200px;

  background-color: #120587;
  padding-top: 0px;
  /* padding-left: 30px; */
  /* padding-right: 20px; */
  padding-bottom: 50px;
  z-index: 100;
  
  max-height: 100%;
  overflow-y: auto;
  border-radius: 25px 0 0 25px;
}		
		
		
}

/*@media only screen and (min-width: 600px) {
  
  .hdn-cont {
    margin-top: 0px;
  }
  
  aside {
    top: 57px;
    width: 400px;
  
    background-color: #000095;   
    padding-top: 0px;
    padding-bottom: 50px;
    z-index: 100;
    height: fit-content;
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 0 0 0 0 ;
  }
  
  aside.active {
    right: 0px;
    /* animation: topSideMenu ease-in-out 1s; */
  }
  
  /* 
  
  @keyframes topSideMenu {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
     
    40% {
        transform: translateX(30px);
        opacity: 0;
    }
    70% {
        transform: translateX(0px);
        opacity: 0.5;
    }
     
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
  } */
  
  aside.notactive {
    right: -461px;
  }
  
  aside ul li {
    line-height: 9px;
    
  }
  
  aside ul li a {
    position: relative;
    display: block;
  
    text-decoration: none;
    padding: 15px 0px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 500;
  
    color: #ffffff;
    border-bottom: 2px solid #fbfbfb1e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-left: 3px solid transparent; */
  }
  
  aside ul li a:hover {
    /* color: cyan !important; */
    letter-spacing: 0.08rem;
    transition:  letter-spacing 0.4s ease-in-out;
    color: rgb(0, 0, 0) !important;
    background: #2323ff !important;
  }
  
  aside ul li:hover {
    
    /* background: #010357; */
   
    /* border-left-color: cyan; */
  
    /* padding: 10px 0px 10px 10px; */
  }
  
  
  aside ul ul {
    position: static;
    display: none;
  }
  
  
  aside ul ul li {
    line-height: 9px;
  }
  
  aside ul ul li a {
    font-size: 15px;
    color: #e6e6e6;
    
    padding-left: 25px;
    text-align: left;
    border-bottom: 1px solid #1e1e1e;
   
  }
   
  
  aside ul ul li a:hover::after {
    content: "";
   color:#c1f4fb;
    /* border-left: 5px solid #e6e6e6; */
    text-align: left;
    margin-right: 15px;
  }
  
  aside ul li a span {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 12px;
    transform: translateY(-50%);
    transition: transform 1s ease-in-out;
  }
  
  aside ul li a:hover span.rotate {
    transform: translateY(-25%) rotate(-540deg);
  }
  
  aside ul li a.active {
    color: cyan;
    background: #b5c508;
    /* border-left-color: cyan; */
  }
  
  aside ul li.active ul li a {
    color: #e6e6e6;
    background: #2b31ea;
    /* border-left-color: transparent; */
  }
  
  aside ul ul li a:hover {
    letter-spacing: 0.02rem;
    color: rgb(0, 0, 0) !important;
    background: #000095 !important;
  }
  
  aside ul li:last-child {
    border-bottom: none;
  }
  
  aside ul  ul {
    /* background: rgb(79, 62, 235); */
  }
  
  /* ochish-yopish expanding  */
  
  
  .show_submenus {
    display: block;
  /* 
    right: 20;
    opacity: 1;
    transform: translateX(200px);
    transition: transform 5s ease-in-out; */
  }
  
  
  
  /* close x button and backdrop */
  
   
  
  /* .sidebar_top button {
  text-align: left;
  width: 100%;
  background-color: #20eb4c;
  z-index: 50001;
  } */
   
  
  aside button.close_sideMenuBar {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    /* float: left; */
    border: 0;
    background-color: transparent;
    position: relative;
    top: 0px;
    padding: 30px;
    font-family: sans-serif;
    font-weight: 100;
    padding-right: 10px;
    z-index: 199;
  }
  
  .close_sideMenuBar:hover {
    color: cyan;
    /* font-weight: 600; */
    /* font-size: 22px; */
  }
   

  .mark {
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #000095;
    font-size: 15px;
    color: white;
    z-index: 400;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mark.active {
    color: #ffffff;
    background: #1b0297;
  }

  .mark a {
    color: white;
  }

  .mark span a:hover {
    background-color: rgb(112, 10, 10);
  }
  
  .home_sidemenu {
    width: 100%;
    background: #1b0297;
  }
  
  .close_sidemenu {
    display:  none;
    cursor: w-resize;
  }
  
}











/* 

git pull

git add .

git commit -m "lyuboe sobwenie"

git push

*/
