.other_pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure {
  top: 40px;
  bottom: 30px;
  right: -64px;
  position: fixed;
  content: '';
  width: 80px;
  border-radius: 25px;
  background-color: #000072;
  z-index: 300;
}

figure.active {
  display: none;
}

#textintext {
    margin-left:50px;	
}

.ronddetabel{
	padding-top: 10px;
	border: 2px;
	border-style: solid;
	border-color: #000072;
	border-radius: 25px;
	margin-bottom: 20px;
	margin-right: 20px;
	
}

.photo_for_each_page {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 00px;
  width: 100%;	
}

.photo_for_each_page img {
  display: block;
  padding: 20px 0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  
 }
.backgroundphoto {
	background-color: #DBDAFF;
}

.backgroundimpact {
	background-image: url("images/Achtergrondjustdigit.jpg");
		background-position: center;
	background-size: cover;
}


.backgroundcontact {
	background-image: url("images/Achtergrondcontact.jpg");
		background-position: center;
	background-size: cover;
}

.backgroundverlichting {
	background-image: url("images/backgroundverlichting.jpg");
		background-position: center;
	background-size: cover;
}

.backgroundversneller {
	background-image: url("images/backgroundversneller.jpg");
		background-position: center;
	background-size: cover;
}

.backgroundspiegels {
	background-image: url("images/backgroundspiegels.jpg");
	background-position: center;
	background-size: cover;
}


.backgroundtomtom {
	background-image: url("images/backgroundspiegels.jpg");
	background-position: center;
	background-size: cover;
}

.backgroundbanden {
	background-image: url("images/Achtergrondbanden.jpg");
	background-position: center;
	background-size: cover;
}

.achtermotor {
	background-image: url("images/achtergrondmotor.jpg");
	background-position: center;
	background-size: cover;
}

.achtertarieven {
	background-image: url("images/Achtergrondtarieven.jpg");
	background-position: center;
	background-size: cover;
}


.sarlavha_with_bg {
  background: #000072;
  border: #8F8F8F;
  border-style: solid;
  border-left: #000072;
  border-width: 2px;
  border-radius: 0px;
  margin: -20px 0px 30px 0px;
  font-size: 30px;
  letter-spacing: 1.7px;
  width: 100%;
	
}

  .flex_text { 
    margin-left: 15px;	
    width: 90%;
    display: flex;
    flex-direction: column;
  }


h4 {
  text-align: center;
  padding: 15px 0px;
  font-weight: 700;
}

h5 {
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  font-weight: 700;
}

h6 {
  padding: 0px 10px;
  font-size: 23px;
  font-weight: 700;
}

h7 {
	font-size: 20px;
}

h8 {
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 700;
}

p {
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.6rem;
  font-weight: 600;
}


footer p {
  font-size: 8px;
  background-color: #e41b1b;
  color: #17028a;
  padding: 10px 20px;
  text-align: center;
}

.black {
  color: rgb(122, 120, 120);
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: fit-content;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
}

.black p, .black a {
  color: rgba(219, 219, 219, 0.344);
  margin: auto;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  transition: all 1s ease-in-out;
}

.black a:hover {
  color: white;
}
	
.video_div {
  margin: auto;
  width: 90%;
}

.video1 {
  width: 100%;
  max-width: 1000px;

}

.alleteksten3
{ margin-top: 5px;
}


.volgende {
	height: 40px;
	background-image: url("images/volgende mobiel.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 10px;
}

.vorige {
	height: 40px;
	background-image: url("images/vorige mobiel.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 10px;
}
@media only screen and (min-width: 880px) {

.volgende {
	height: 40px;
	background-image: url("images/volgende.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 15px;
}

.vorige {
	height: 40px;
	background-image: url("images/vorige.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 0px;
}
	
.photo_for_each_page {
    max-width: 650px;
    height: fit-content;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 0px;
	width: 100%;

  }
.photo_for_each_page img {
    margin: auto;
    padding: 0px 0px;
  }

.sarlavha_with_bg {
    /* background-color: #f0f0f4; */
    padding: 0px 0px;
    /* margin-bottom: 30px; */
    font-size: 30px;
    letter-spacing: 1.7px;
	 margin: -10px 0px 30px 0px;
    /* border-top: 4px double #818bf91a; */
  }

  .flex_container {
    position: relative;
    margin-bottom: 80px;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .flex_text { 
    margin-top: 0px;
	margin-left: 15px;
    width: 45%;
    display: flex;
    flex-direction: column;
  }
}


.imageintable { width:  25px;	
}

.alleteksten {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.alleteksten2 {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-content: center;
}

.alleteksten3 {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	}

#dmenuBtn {
	height: 1000px;
	width: 60px;
	margin-top: -7px;
}


